{% extends "base.html" %}


{% block left %}
<div class="d-flex  ps-3 pt-2 border-top  flex-column ">
    
    <div class=" mt-3 border rounded-pill d-flex m-auto shadow shadow-lg" style="height: 20vh;width:80vw;background-color:rgb(248, 200, 220,0.7)">
        <span class="m-auto"><h2><b>Welcome to our project on SuperCapacitor Capacitance Prediction!</b></h2></span>
    </div>
    <br>
    <div class="d-flex flex-column p-2 mt-5 ">
        <h3 class=""><b>Developers</b></h3>
        <ul class="ps-5">
            <li>Manlika Lau</li>
            <li>Krisamon Tiatrongjitman</li>
            <li>Vanvarot Soontornchart</li>
            <li>Tawin Chiangwonrat</li>
        </ul>
    </div><br>
    <p>
        We are a team of enthusiastic undergraduates from SIIT. This project is an integral part of our senior project for the first semester of the year 2023. Our goal is to provide a valuable tool that aids in saving time and reducing costs associated with experiments aimed at determining the capacitance of a supercapacitor.
    </p>
    <p>
        Our project involved meticulous data gathering and robust machine learning techniques. While we have taken great care in developing this tool, it's essential to consider possible margin of errors in predictions.
    </p><br>
    <p>
       <h3><b>Special Thanks</b></h3>   <br>
We express our heartfelt gratitude to Somrudee Deepaisarn , Pawin Iamprasertkun, and Krittapong Deshsorn for their invaluable guidance, supervision, and support throughout the course of this project.
    </p>
    <p>
        Thank you for choosing our tool. Your support and feedback are immensely appreciated!

    </p>
    <p>
        With heartfelt regards,  <br>
The SuperCapacitor Capacitance Prediction Team 💘💘💘

    </p>
</div>
{% endblock %}